body{
    padding: 5%;
}

/* : es el elemento raíz del documento HTML, que es el elemento <html></html> */
:root {
    --color-primario: #93aac3; /* Color primario personalizado */
    --color-fondo: #cd82c1; /* Color de fondo personalizado */
}

/* Estilos personalizados con las variables de color */
.btn-primary {
    background-color: var(--color-primario);
    border-color: var(--color-primario);
}

.bg-light {
    background-color: var(--color-fondo);
}